@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Estilos generales */
body {
    background-color: rgb(243, 246, 246);
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: #eaeaea;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #00000054;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

#logo {
    font: 700 3em "Roboto Condensed";
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 1.2; /* Reducir el espacio entre líneas */
    margin: 5px 30px 5px 5px; /* Ajustar el margen inferior */
    width: 120px;
}

#logo span {
    font: 300 0.2em "Roboto Condensed";
    letter-spacing: 1.3px;
    line-height: 1; /* Ajustar la altura de línea al tamaño del texto */
    display: block; /* Hacer que el span sea un bloque para ocupar el ancho completo */
    margin-top: -5px; /* Ajustar el margen superior para una mejor alineación */
}

.menu-icon,
i.fa-bars {
    font-size: 25px;
    cursor: pointer;
    margin-right: 25px;
}

.background {
    background-color: black;
    position: absolute;
    z-index: 1;
}

.background img {
    width: 100%;
    display: block;
    /* Para evitar espacio adicional debajo de la imagen */
    opacity: 50%;
}

.section1 {
    color: white;
    margin-left: 25px;
    top: 125px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.section1 h3 {
    color: rgb(254, 160, 47);
    font-size: 18px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.79);
    font-weight: 700;
}

.section1 h1 {
    font-size: 28px;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.94);
    font-weight: 700;
    line-height: 33.6px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.section1 div {
    font-size: 12px;
    line-height: 23px;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.67);
    margin: 10px 0;
    margin-right: 25px;
}

.fa-whatsapp {
    color: rgb(255, 255, 255); /* Color del icono */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Color de fondo */
    padding: 10px; /* Aumentar el espacio interior del icono */
    border-radius: 50%; /* Hacer que el borde sea circular */
    font-size: 36px; /* Tamaño del icono */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.531); /* Sombra para resaltar */
    z-index: 999;
}